This file is a configuration file for the battleship game by Larsluph

With it, you can edit the main parameters for the game.
In order to do it, simply change the values in the corresponding lines.
If you want to keep the default values, replace the user values by "None" (1st character in uppercase and the other ones in lowercase)

Here is a list of the different settings for the game :
line 21 : number of boats on a player's board
line 22 : list with each boat's capacity

##### DEFAULT VALUES DO NOT CHANGE THESE #####

5
[2,3,3,4,5]

##### ONLY EDIT THE VALUES BELOW IF YOU WANT TO CHANGE THE DEFAULT VALUES #####

None
None
