This file is a configuration file for the battleship game by Larsluph

With it, you can edit the main parameters for the game.
In order to do it, simply change the values in the corresponding lines.
If you want to keep the default values, replace the user values by "None" (1st character in uppercase and the other ones in lowercase)

Here is a list of the different settings for the game :
number of boats on a player's board
list with each boat's capacity
dark mode state ("True" or "False")

##### DEFAULT VALUES DO NOT CHANGE THESE #####

5
[2,3,3,4,5]
False

##### ONLY EDIT THE VALUES BELOW IF YOU WANT TO CHANGE THE DEFAULT VALUES #####

None
None
None
